@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <title></title>
</head>
<body>
    <div>
    <ul class="products">
        <li>
            <a href="#nogo" class="item">
                <img src="~/Content/themes/icons/back.png"/>
                <div>
                    <p>Balloon</p>
                    <p>Price:25</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#nogo" class="item">
                <img src="~/Content/themes/icons/cancel.png" />
                <div>
                    <p>Feeling</p>
                    <p>Price:25</p>
                </div>
            </a>
        </li>
    </ul>
    </div>
    <div class="cart">
        <h1>Cart</h1>
        <table id="cartcontent" style="width:300px;height:auto">
            <thead>
                <tr>
                    <th field="name" width="140">Name</th>
                    <th field="quantity" width="60" align="right">Quantity</th>
                    <th field="price" width="60" align="right">Price</th>
                </tr>
            </thead>
        </table>
        <p class="total">Total:0</p>
        <h2>Drop here to add to cart</h2>
    </div>
</body>
</html>
<script type="text/javascript">
    $('.item').draggable({
        revert: true,
        proxy: 'clone',
        onStartDrag: function () {
            $(this).draggable('option').cursor = 'not allowed';
            $(this).draggable('proxy').css('z-index',10);
        },
        onStopDrag: function () {
            $(this).draggable('option').cursor = 'move';
        }
    });
    $('.cart').droppable({
        onDragEnter: function (e,source) {
            $(source).draggable('option').cursor='auto';
        },
        onDragLeave: function (e, source) {
            var name = $(source).find('p:eq(0)').html();
            var price = $(source).find('p:eq(1)').html();
            addProduct(name,parseFloat(price.split('$')[1]));
        }
    });
    var data = { "total": 0, "rows": [] };
    var totalCost = 0;
    function addProduct(name,price)
    {
        function add()
        {
            for (var i = 0; i < data.total;i++)
            {
                var row = data.rows[i];
                if(row.name == name)
                {
                    row.quantity += 1;
                    return;
                }
                data.total += 1;
                data.rows.push({
                    name: name,
                    quantity: 1,
                    price:price
                });
            }
        }
        add();
        totalCost += price;
        $('#cartcontent').datagrid('loadData', data);
        $('div.cart .total').html('Total:$'+totalCost);
    }
</script>