@{
    Layout = null;
}

@*@{
    TimeSpan ts = DateTime.Now - (DateTime)System.Web.HttpContext.Current.Session["StartTime"];
    int time = Convert.ToInt32(ts.TotalMilliseconds);
    System.Web.HttpContext.Current.Session.Clear();
}

    <div>
     执行时间：@time 毫秒
    </div>*@
@RenderBody()